* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #282828;
	color: white;
	font: 400 16px 'Roboto', sans-serif;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content {
	max-width: 500px;
	border: 2px solid rgb(235, 233, 233);
	padding: 15px;
}

.val-content,
.convert-content {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.val-content {
	margin: 20px 0 10px 0;
}

.val-num {
	padding: 15px 40px 15px 10px;
	border: 2px solid rgb(235, 233, 233);
}

.title_num {
	font: 400 20px 'Roboto', sans-serif;
	margin-bottom: 7px;
}

.num {
	font: 400 25px 'Roboto', sans-serif;
	color: rgb(145, 51, 51);
}

.nem-color {
	color: rgb(14, 109, 14);
}

.convert-title {
	font: 400 16px 'Roboto', sans-serif;
	margin-bottom: 10px;
}

.Give-name,
.Receive-name {
	padding: 5px 110px 5px 10px;
	background: transparent;
	color: white;
	border: 1px solid #ccc;
}

.Give,
.Receive {
	border: 1px solid #ccc;
	color: white;
	background: transparent;
	margin-top: 5px;
	padding: 7px 43px 7px 10px;
}

option {
	background: #282828;
}
